body
{width:99%;}

.nav
{   width:100%;
	background-color: #3c7787;
}

.ul1
{   
	list-style-type: none;

}

.ul1 li
{   display:inline;
	margin: 20px;
	padding: 20px;
	font-size: 25px;
}

.ul1 li:hover
{
	cursor:pointer;
	color:red;
}

.wel
{   float:left;
	padding: 0px;
	margin-top: -30px;
	color: #92a03f;
}

h1
{  
	padding:10px 10px 10px 30px;




}

.second
{  
	margin-left: 200px;
	margin-top: 50px;
	
}


p
{color:#92a03f;}

span
{  
	font-weight: bold;
	color: black;
}

footer
{background-color: #92a03f;
position:relative;
top:70px;}


.wrapper
{margin-left: 250px;
margin-right: 100px;}