.wrapper
{
	width: 1226px;
	height: 1477px;
	box-sizing:border-box;
	margin :0 auto;
	padding-left: 135px;
	padding-top: 50px;
	padding-right: 135px;background-color: #337071;
	
	
}

.main
{
	width: 961px;
	height:1356px;
	

}


.title
{
	background-color: #337071;
	box-sizing:border-box;
	width: 962px;padding-left: 10px;
	padding-right: 22px;
	height: 126px;
}

.logo
{
	float: left;box-sizing:border-box;
}

.experts
{
	float: right;box-sizing:border-box;
}

.logo p
{
	font-size: 50px;
	margin-top: 2px;
	padding-bottom: 0px;
	color: #fcffff;
}

.experts p
{
	
	font-size: 25px;
	padding: 0px;
	margin-top: 2px;
	color: white;
}

.experts p span
{
	margin-top: -3px;
	float: right;
}

.green
{
	height: 3px;
	background-color: #0baeb5;
}

.nav
{	box-sizing:border-box;
	height: 35px;
	width: 100%;
	background-color: #000000;
	padding-top: 6px;
}

.nav nav a
{
	    padding-left: 51px;
    padding-right: 39px;
    
    text-decoration: none;
    color: white;padding-top: 7px;
    padding-bottom: 11px;

}

.nav nav span
{
	background-color: #262626;padding-top: 6px;
    padding-bottom: 12px;
}

.help
{
	width: 960px;
	height:339px;box-sizing:border-box;
	border: 1px solid blue;
	background-color: white;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 32px;
}

.heading p
{
	font-size: 39px;
    margin-left: 30px;color: #0c7990;
}

.para 
{}

.para p
{
	    line-height: 27px;
    padding: 0px;
    margin-top: -16px;
}


.tailor
{
	height: 193px;
	width: 960px;box-sizing:border-box;
	border: 1px solid blue;
	background-color: #000000;
	padding-left: 110px;
	padding-top: 42px;    padding-right: 125px;

}

.cust
{
	height: 63px;
}
.cust p
{
	    font-size: 50px;
    color: #ffb206;
    padding: 0px;
    margin-top: 3px;
}

.match
{
	float: left;

}
.match p
{
	color: white;
	font-size: 25px;text-align: justify;
}

.learn
{
	float: right;    margin-top: 28px;
    margin-right: 41px;background:url("../images/temp12/interface.png");
	width: 110px;
	height: 30px;box-sizing:border-box;
}


.learn a
{
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    margin-top: -6px;
    margin-left: 8px;
    float: left;
}

.content
{
	width: 961px;
	height: 642px;
	
	padding-left: 40px;
	padding-right: 39px;
	padding-top: 30px;box-sizing:border-box;
	background-color: #e4e4e4;
}

.blog
{
	
	width: 60%;box-sizing:border-box;
	float: left;height: 586px;
}

.about
{
	
	width: 38%;
	height: 586px;
	float: right;box-sizing:border-box;
	padding-left: 35px;
}


.blg  p
{	

	 font-size: 23px;
    margin-left: 5px;
    padding: 0px;
    margin-top: 11px;

}

.house
{
	
}

.house img
{
	float: left;height: 130px;    margin-right: 15px;
}

.house p
{
	line-height: 22px;
	margin-right: 3px;text-align: justify;
}

.arone,.artwo
{
	
	
	width: 48%;
	
	float: left;box-sizing:border-box;
	margin-top: 30px;

}

.arone,.artwo p
{
	line-height: 20px;text-align: justify;
}

.artwo
{
	margin-top: 35px;
	margin-left: 10px;
}

.aboutimg
{
	box-sizing:border-box;
}

.aboutimg
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.blg input
{
	margin-bottom: 14px;
}

.subscribe
{
	background-color: #cdcdcd;
	width: 87px;
	height: 24px;
	padding-top: 3px;
	text-align: center;box-sizing:border-box;
	border-radius: 3px;
	float: right;
	margin-right: 14px;
}
.subscribe a
{
	text-decoration: none;

}


.footer
{}

.social
{
	float: left;
	margin-top: 10px;
}

.fb,.twitter,.google
{
	float: left;
}
.fb a

{
	background:url("../images/temp12/icons.png") 0px 0px;
	width: 28px;
	height: 20px;float: left;

}

.twitter a

{
	background:url("../images/temp12/icons.png") 0px -28px;
	width: 28px;margin-left: 20px;
	height: 22px;float: left;
}

.google a

{
	background:url("../images/temp12/icons.png") 0px -56px;
	width: 28px;margin-left: 20px;
	height: 22px;float: left;
}


.fb a:hover

{
	background:url("../images/temp12/icons.png") 30px 0px;
	width: 30px;
	height: 20px;float: left;
	cursor: pointer;

}

.twitter a:hover

{
	background:url("../images/temp12/icons.png") 30px -28px;
	width: 28px;margin-left: 20px;
	height: 22px;float: left;cursor: pointer;
}

.google a:hover

{
	background:url("../images/temp12/icons.png") 30px -56px;
	width: 28px;margin-left: 20px;
	height: 22px;float: left;cursor: pointer;
}

.conc
{
	float: right;
}