html,body,div,img,a,ul,li,p{
	margin:0;
	padding:0;
}
ul,li{
	list-style:none;
}

.head{
	background:#E2E2E2;
	padding-bottom: 20px;
	width:100%;
	border-bottom:2px solid white;
}
.top{
	background:#58614E;
	    padding-bottom: 75px;
	padding-top:40px;
	padding-left:195px;
	border-bottom:2px solid white;
}
.top img{
float:left;
}

.headMenu ul {
	margin-right:130px;
	margin-top:27px;
	float:right;
	
}

.headMenu ul li{
	float:left;
	padding-right:30px;
	//border:1px solid black;

}

.headMenu ul li a{
	text-decoration:none;
	color:#B6C5A4;
	font-weight:bold;
}


.home:
{
	color:white;
}

.headMenu ul li a:hover{
	color:white;
}
.head .clear{
	clear:both;
}

.heading{
	border:2px solid white;
	width:1000px;
	
	background-color:#E9E9E9;
	margin-top:10px;
	margin-bottom:0px;
	margin-left:190px;
	margin-right:auto;
}
.headLeft{
	float:left;
	margin-top:105px;
	margin-left:57px;
	line-height:33px;
	
	width:300px;
}

.heading .headLeft p{
	font-size:24px;
	color:#3D5548;
}

.heading .headLeft .para p{
	font-size:20px;
}

.heading .headRight{
	float:right;
}


.heading .clear{
	clear:both;
}

.content {
	background-color:#EEEEEE;
	padding-bottom: 10px;
	    border-bottom: 6px solid white;
	    margin-top: -20px;
}

.content .lefttext{
	float:left;
	border-right:1px dotted black;
	width:653px;
	height:190px;
	margin-left:190px;
	padding-left:10px;
	padding-top:20px;
}
.content .lefttext .Promise{
	
	font-size:24px;
	color:#59654D;
}
.content .lefttext .promisecontent {
	padding-top:35px;
	line-height:20px;
	color:#59654D;
}

.content .lefttext .promisecontent a {
	color:#59654D;
}

.content .righttext{
	float:right;
	width:300px;
	margin-right:180px;
	padding-left:10px;
	padding-top:20px;

}
.content .righttext .Testimonials{
	font-size:24px;
	color:#59654D;
}

.content .righttext .testimonialcontent {
	padding-top:35px;
	line-height:20px;
	color:#59654D;
	font-size:18px;
}

.content .righttext .john {
	float:right;
	line-height:75px;
	color:#59654D;
}

.content .clear{
	clear:both;
}

.chooseus{
	background-color:#E2E2E2;
	height:445px;
	border-bottom:2px solid white;
}

.img4
{
	float: left;
	width:22%;
}
.chooseus span{
float:left;
}
.chooseus span p{
color:#676358;
}

.img4 p
{
	    padding-top: 20px;
        padding-bottom: 15px;
   color: #696e96;
}

.chooseusContent{
	margin-left:190px;
	padding-top:35px;
}

.chooseus .chooseusHead{
	color:#59654D;
	font-size:20px;
}

.chooseusimg img{
	margin-top:33px;
	margin-right:50px;
	border:5px solid white;
}


.paraHeading
{
	color: #65657d;
}

.company{
	background-color:#D9D9D9;
	    padding-bottom: 185px;
	border-bottom:2px solid white;
	padding-left:170px;
}


.latest{

	float:left;
	padding-top:20px;
	width:320px;
	padding-left:20px;
	    padding-bottom: 67px;
	
	
}
.latest,.contact,.sendus{
	border-right:1px dotted black;
}

.contact{

	float:left;
	padding-top:20px;
	width:320px;
	padding-left:20px;
	    padding-bottom: 67px;
	
	
}
.sendus{

	float:left;
	padding-top:20px;
	width:320px;
	padding-left:20px;
	padding-bottom: 25px;
	
	
}

.bottomtexthead{
	font-size:26px;
	color:#6B6158;

}
.companyText .contact p, .companyText .latest p, .companyText .sendus p {
	color:#6B6158;
	font-size:20px;
	line-height:20px;
	padding-top:20px;

}
.readmore button {
margin-top:10px;
background-color:red;
font-size:16px;
}


.readMore
{
	margin-top:10px;
background-color:#6b6b6b;
font-size:16px;
padding-top: 10px;
text-align: center;
}



.footer{
	background-color:#4F5843;
	padding-bottom: 29px;
    padding-top: 12px;
}

.f1{
margin:0px auto 0px auto;
}
.facebookIcon{
	width: 20px;
   margin-left: 175px;
	height:20px;
	float: left;
background:url("../images/icons.png") 0px 104px;

}

.twitterIcon{
width: 17px;
   margin-left: 10px;
	height:20px;
	float: left;
background:url("../images/icons.png") 0px 76px;

}
.googleIcon{
width: 17px;
   margin-left: 10px;
	height:20px;
	float: left;
background:url("../images/icons.png") 0px 233px;


}
.pinterestIcon{

width: 17px;
   margin-left: 10px;
	height:20px;
	float: left;
background:url("../images/icons.png") 0px 47px;

}

.footspanright
{
float:right;
color:#89A79F;
font-size:20px;
bottom:5px;
padding-right: 160px;
right:3px;

}


.company .companyText .sendus button
{
	padding: 5px;
}