@media (min-width: 768px) and (max-width:900px) 
{

/******************/
	#logo{
		float:left;
		margin:0;
			margin-left:100px;
	}
	#menu-toggle{
		float:left; margin:0px 20px;
	}
	#menu ul
	{
	padding-top: 60px
	}
.menu-open #menu ul
{
	display: block;
}


/******************/
img{border:0px;}
*{margin:0px; padding:0px; font-family:verdana; }
body{
		font:normal 100% Arial;
		font-family: 'Titillium Web', sans-serif;
	}
	
.clear{clear:both;}
header{background-color:#00C0C0; margin:0px auto;height:80px; text-align:center; background-image:url('./images/tabBanner.jpg');}

#logo{float:left;}

#topNav {margin:0px auto;width:100%; text-align:right}
#topNav ul{width:100%;margin:0px auto;}
#topNav  ul li {float:left; padding:5px 20px; list-style:none; overflow:hidden;border:0px solid black}
#topNav  ul li a {text-decoration:none; color:white;	}



#search{position:absolute;left:60%; top:20px;  }
#searchBox{height:20px; padding:4px;}
 #banner{max-width:100%;margin-top:0px; background:url(../images/tabBanner.jpg) no-repeat; height:600px; background-color:rgb(250,250,250);}

/*header part ends here */

/*body starts here */
#mainBody{margin:0px auto;width:100%; margin-top:-150px;}
#tileContainer{margin:0px auto; text-align:center; padding:10px;}
.tiles{ float: left;width:26%; margin-left:13px; background-color:#00C0C0;opacity:0.5; text-align:center; color:rgb(240,240,240) }
.tiles img{width:25%; border:3px solid white; padding:10px; border-radius:50%; margin-bottom:10px;}
.tiles p{line-height:30px;font-size:14px;color:rgb(240,240,240)}
.heading{text-align:center; color:red; margin-bottom:20px;}
.paraStyle{line-height:20px;font-size:14px;color:rgb(40,40,40)}
#welcomeHeading p,#afterSection p{padding:5px 10px; text-align:center; font-size:12px;}

/*section styles here */
.section{padding:30px;}
.SectionHeading{margin-bottom:20px;}
.section  p{line-height:25px;font-size:12px;color:rgb(155,155,155)}
.section img{width:100%; margin-top:20px;}

#afterSection{padding-top:50px}
#bigText{text-align:center; font-size:20px !important; line-height:20px}
#afterSection p{line-height:25px;font-size:12px;color:rgb(155,155,155); text-align:center}
#ourProfile{background-color:#00C0C0; border:0px !important;}
#careAdvices{background-color:grey;}
#emergency{background-color:rgb(232,100,113);}
#readMore{padding:3px 15px;color:red;}


#footerFullWidthImage{background-image:url('../images/nature.jpg');margin:30px; height:400px;}
#footerFullWidthImage #innerContent{text-align:center; line-height:25px;font-size:12px;color:rgb(240,240,240); float:right; width:60%; background-color:rgba(255,0,0,0.3); padding:30px; margin-top:100px; margin-right:20px;}

/*footer starts here */
#footerTileContainer{margin:0px auto; text-align:center; padding-bottom:50px; width:100%;}
#footerTileContainer .tiles{  background-color:white; border:0px solid black; text-align:center;padding:18px; color:rgb(240,240,240) }
#footerTileContainer .tiles img{width:25%; border:3px solid white; padding:10px; border-radius:50%; margin-bottom:10px;}
#footerTileContainer .tiles .redHeading{padding:3px 15px;color:red;}
#footerTileContainer .tiles p{line-height:25px;font-size:12px;color:rgb(40,40,40)}

footer{background-color:rgb(244,244,244);overflow:hidden;}
#footerLinks{ height:200px; margin:0px auto; width:80%; }

.linksBlock{width:100%; height:150px; float: left;}
.linksBlock ul li:first-child{font-size:16px;margin-bottom:5px;color:red	}

.linksBlock ul{width:100%;margin:0px auto;}
.linksBlock  ul li {list-style:none;font-size:12px;color:rgb(40,40,40); line-height:20px }
.linksBlock  ul li a {text-decoration:none;font-size:1em;color:rgb(155,155,155)}

#copyRight{ text-align:center;height:40px; background-color:rgb(227,69,84); line-height:40px; color:white;}

}