html,head,body,div,li,a,ul,p{
margin:0;
padding:0;
font-size:100%;
box-sizing:border-box;
}
.main{}
.header-top{
background-color:#F7F7F7;
height:12px;
}
.header-bottom{
height:6px;
background-color:#1A1A1A;
}
.logo_nav-box{
background-color:FFFFFF;
margin:0 auto;
width:80%;
padding-top:24px;
overflow:hidden;
}
.logo{
width:25%;
float:left;
}
.nav-box{
width:75%;
float:left;
overflow:hidden;
padding-left:72px;
}
.nav{
padding-top:31px;
}
li{
list-style:none;
display:inline;}
a{
text-decoration:none;
color:#4D4D4D;
}
#home,#contacts,#services,#clients,#company{
 margin-right:32px; 
font-size:17px;
margin-top:10px;
}
#home{color:#F68E91;}
.center-box{
background-color:#F7F7F7;
background-image:url("../rwd-images/slider-img1.jpg");
display:inherit;
margin:0 auto;
width:100%;
height:415px;
margin-top:-35px;
background-repeat:no-repeat;
}
.need_ideas{
padding-left:798px;
padding-top:77px;
}
.mid-container{
background-color:#FFFFFF;
}
.mid-container1{
margin:0 auto;
width:80%;
}
.news-box{
width:50%;
float:left;
}
.news{
color:#4D4D4D;
padding-top:30px;

}
.dates{width:100%;margin:0 auto;overflow:hidden;}
.box_date{width:20%;height:85px;border-radius:10px;float:left;}
.no24,.no21,.no09{text-align:center;padding-top:20px;}
.month{text-align:center;}
.pa1{color:#F41E24;line-height:16px;}
.para{float:left;padding-left:26px;padding-bottom:25px;width:80%}
.para{float:left;padding-left:26px;padding-bottom:25px;}
.clear{clear:both;}
.dates1{}
.box1{
width:100%;padding-top:33px;text-align:center;}
.secondary{ width:50%;float:left;}
.secondary-image{
padding-top:50px;width:25%;}
.leader{width:100%}
.lead{color:#ED1E24;}
.lll{color:#ED1E24;}
.para1{font-size:17px;line-height:25px;}
.para2{padding-top:19px;line-height:25px;}
.footer1{padding-bottom:77px;border:none;}
.footer{background-color:#F7F7F7;border:none;}
.social{height:106px;width:25%;float:left;border:none;}
.social1{width:100%;margin-top:55px;padding-left:8px;border:none;}
#nav11{display:inherit;}
.nav1{padding-top:10px;padding-left:8px;width:25%;float:left;font-family:Arial;color:#4D4D4D;}
.contact,.legal{line-height:25px;border:none;padding-top:10px;padding-left:8px;width:25%;float:left}
.legal{padding-bottom:68px;width:25%}